@font-face {
  font-family: "Predator";
  src: url("./font/Predator-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Predator";
  src: url("./font/Predator-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NVIDIASans";
  src: url("./font/NVIDIASans_W_Bd.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "NVIDIASans";
  src: url("./font/NVIDIASans_W_Rg.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "NVIDIASans";
  src: url("./font/NVIDIASans_W_Md.woff") format("woff");
  font-weight: 600;
}

* {
  font-family: "NVIDIASans", "Predator", "sans-serif";
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 800px;
  /* background-color: #fff; */
}

body {
  font-family: "NVIDIASans";
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin: 0;
  padding: 0;
  /* border-radius: 20px; */
  width: 800px;
  overflow: visible;
}

.container {
  position: relative;
  width: 760px;
  height: 300px;
  margin: 32px 0px 17px 16px;
  padding: 0px 0px 17pxpx 32px;
  object-fit: contain;
}

.tile {
  margin-bottom: 18px;
  position: relative;
}

.tile img {
  width: 760px;
  display: block;
}

.bannerText1 {
  font-family: NVIDIASans;
  font-weight: 600;
  font-size: 34px;
  text-align: left;
  color: #fff;
  position: absolute;
  bottom: 129px;
  left: 48px;
}

.bannerText2 {
  font-family: NVIDIASans;
  font-weight: 600;
  font-size: 34px;
  text-align: left;
  color: #fff;
  position: absolute;
  bottom: 132px;
  left: 48px;
}

.bannerText3 {
  font-family: NVIDIASans;
  font-weight: 600;
  font-size: 34px;
  text-align: left;
  color: #fff;
  position: absolute;
  bottom: 78px;
  left: 48px;
}

.bannerText4 {
  font-family: NVIDIASans;
  font-weight: 600;
  font-size: 34px;
  text-align: left;
  color: #fff;
  position: absolute;
  bottom: 121px;
  left: 48px;
}

/* ----Omniverse----- */

.webTitle {
  font-family: "Predator";
  font-weight: normal;
  padding: 20px 20px 0 20px;
  font-size: 24px;
  color: #ffffff;
}

.banner {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 16px 20px 0 0px;
  padding: 0 20px 20px 28px;
  object-fit: contain;
  background-image: url(../image/img-banner-omniverse.png);
  /* overflow: hidden; */
  background-size: cover;
}

.bannerTitle {
  position: absolute;
  width: 728px;
  height: 45px;
  margin: 0 0 4px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  font-family: NVIDIASans;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  top: 112px;
}

.bannerText {
  position: absolute;
  width: 728px;
  height: 27px;
  margin: 4px 0 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  font-family: NVIDIASans;
  font-weight: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #eee;
  bottom: 112px;
}

.greenBox {
  width: 800px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 14px; */
  /* margin: 316px 0 0; */
  /* padding: 8px 0; */
  background-color: #76b900;
}

.greenboxText {
  flex-grow: 0;
  font-family: NVIDIASans;
  font-size: 16px;
  font-weight: 500;
  font-weight: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  padding: 0px 6px 0px 0px;
}

.introSection {
  width: 800px;
  height: 214px;
  /* margin: 64px 0 0; */
  padding: 60px 36px 24px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workflows {
  width: 728px;
  height: 38px;
  /* margin: 0 0 16px; */
  font-family: NVIDIASans;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #76b900;
}

.Rectangle-956 {
  width: 728px;
  height: 2px;
  margin: 16px 0 20px 0;
  background-color: #76b900;
}

.introText {
  /* margin: 20px 0 0; */
  font-family: NVIDIASans;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.68;
  text-align: center;
  color: #eee;
}

.introSectionNewApp {
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  /* padding: 48px 36px 24px; */
  background-color: #000;
}

.imgSDK {
  width: 434px;
  height: 278px;
  flex-grow: 0;
  object-fit: contain;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.buildSDKText {
  width: 270px;
  /* height: 56px; */
  /* flex-grow: 0; */
  font-family: NVIDIASans;
  font-size: 22px;
  font-weight: bold;
  /* line-height: 1.25; */
  text-align: left;
  color: #fff;
}

.softwareKitText {
  width: 270px;
  height: 27px;
  flex-grow: 0;
  font-family: NVIDIASans;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.68;
  text-align: left;
  color: #eee;
}

.introSectionSupercharge {
  width: 800px;
  height: 326px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* gap: 24px; */
  padding: 24px 30px;
  background-color: #000;
}

.contentSupercharge {
  width: 270px;
  height: 99px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 24px;
}

.superchargeIndicator {
  width: 36px;
  height: 6px;
  flex-grow: 0;
  object-fit: contain;
}

.superchargeText {
  flex-grow: 0;
  font-family: NVIDIASans;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.25;
  text-align: right;
  color: #fff;
}

.cloudText {
  width: 270px;
  height: 27px;
  flex-grow: 0;
  font-family: NVIDIASans;
  font-size: 16px;
  line-height: 1.68;
  text-align: right;
  color: #eee;
}

/* ----Broadcast---- */

.bannerBroadcast {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 16px 20px 0 0px;
  padding: 0 20px 20px 28px;
  object-fit: contain;
  background-image: url(../image/img-banner-broadcast.png);
  /* overflow: hidden; */
  background-size: cover;
}

.introSectionBroadcast {
  width: 800px;
  padding: 40px 48px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.68;
}

.introTextBroadcast {
  font-family: NVIDIASans;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.68;
  text-align: center;
  color: #000;
}

.introSectionRiseNoise {
  width: 800px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 36px 24px;
  background-color: #000;
}

.broadcastText {
  flex-grow: 0;
  font-family: NVIDIASans;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.broadcastSubText {
  flex-grow: 0;
  font-family: NVIDIASans;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  color: #eee;
}

.riseNoise {
  width: 520px;
  height: 292px;
  flex-grow: 0;
  object-fit: contain;
  margin: 20px auto;
}

.seeEyeToEye {
  width: 520px;
  height: 292px;
  flex-grow: 0;
  object-fit: contain;
  margin: 20px auto 60px auto;
}

/* System Requirements */

.system-requirements {
  /* Dark grey for the table container */
  padding: 20px;
  margin: 36px 20px 36px 36px;
  background-color: rgba(219, 219, 219, 0.1);
}

h1 {
  /* width: 316px;
  height: 38px; */
  /* margin: 0 412px 20px 0; */
  font-family: NVIDIASans;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  margin: 36px auto 20px 36px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 24px;
}

th {
  font-family: NVIDIASans;
  text-align: left;
  padding: 10px;
  color: #eee;
  /* White text for headers */
  width: 120px;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}

.green-box {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #76b900;
  margin-right: 5px;
  vertical-align: middle;
}

td {
  font-family: NVIDIASans;
  padding: 10px;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  /* Slightly lighter line for contrast */
  color: #eee;
  /* Lighter grey text for table data */
}

/* ChatRtx */

.bannerChatRtx {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 16px 20px 0 0px;
  padding: 0 20px 20px 28px;
  object-fit: contain;
  background-image: url(../image/img_banner_chatrtx.png);
  /* overflow: hidden; */
  background-size: cover;
}

.introSectionChatRtx {
  width: 800px;
  padding: 40px 48px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.68;
}

.introTextChatRtx {
  font-family: NVIDIASans;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.68;
  text-align: center;
  color: #000;
}

.indicatorBg {
  width: 800px;
  height: 235px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
}

.contentIcon {
  font-family: NVIDIASans;
  font-weight: bold;
  width: 232px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0 16px 0 0;
  padding: 12px;
  /* background: #000; */
  margin: 40px 16px;
}

.indicatorBg {
  width: 800px;
  height: 235px;
  background-color: #000;
  display: flex;
  flex-direction: row;
}

/* -----Canvas----- */

.bannerCanvas {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 16px 20px 0 0px;
  padding: 0 20px 20px 28px;
  object-fit: contain;
  background-image: url(../image/img_banner_canvas.png);
  /* overflow: hidden; */
  background-size: cover;
}