*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #F4F4F4;
}

body{
  background-image: url(../img/background.png);
  background-size: cover;
}

a{
  pointer-events: auto;
}

/* ============== 上方橫列 ============== */

.lists{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
}

.lists img{
  width: 44px;
}

.Uriflow{
  font-weight: 800;
  font-size: 24px;
  line-height: 44px;
  margin-left: 40px;
}

/* === END === */

/* ============== 尿液量 ============== */
.urine_weight{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.urine_title{
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: flex-end;
  margin-right: 16px;
  margin-bottom: 16px;
}

.weight{
  font-size: 18px;
  font-weight: 700;
  margin-right: 90px;
}

.unit{
  font-size: 11px;
  font-weight: 700;
}

.urine_container{
  width: 328px;
  height: 200px;
  background-color: #f4f4f44c;
  display: flex;
  margin-left: 16px;
  border-radius: 0 0 30px 30px;
}

.urine{
  margin-left: 3px;
  margin-top: 40px;
  position: absolute;
}

.urine_container h1{
  position: relative;
  font-size: 48px;
  font-weight: 800;
  color: #1A6336;
  left: 115px;
  top: 70px;
  z-index: 1000;
}

/* === END === */

/* ============== 尿液指數 ============== */
.bacteria_list{
  width: 328px;
  height: 380px;
  background-color: #F4F4F4;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  border-radius: 10px;
}

.urine_value{
  margin-top: 16px;
}

.urinevalue_title{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.urinevalue_title h1{
  font-size: 18px;
  margin-left: 150px;
  line-height: 16px;
}

.urinevalue_title img{
  width: 16px;
  margin-left: 20px;
}


        /* 細菌數值 */

.bac_cotainer img{
  width: 34px;
}

.bac_cotainer{
  margin-left: 16px;
  margin-top: 18px;
  margin-right: 8px;
  height: 50px;
}

.bac_cotainer div{
  display: flex;
  align-items: center;
  color: #4c4c4c;
  font-weight: 700;
  font-size: 16px;
}

.rbc{
  display: flex;
  justify-content: space-between;
  width: 120px;
  line-height: 18px;
}

h5{
  color: #FA1515;
  font-weight: 700;
  font-size: 16px;
}

.green_line{
  width: 130px;
  height: 4px;
  background-color: #8AC33E;
  border-radius: 2px;
  margin-top: 5px;
}

.orange_line{
  width: 130px;
  height: 4px;
  background-color: #FF7A00;
  border-radius: 2px;
  margin-top: 5px;
}

.red_line{
  width: 130px;
  height: 4px;
  background-color: #FA1515;
  border-radius: 2px;
  margin-top: 5px;
}

.bac_cotainer{
  display: flex;
  flex-direction: column;
}

/* === END === */